<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ana_ver_hash</key>
	<string>2.3.26(12715)</string>
	<key>last_crash_reported</key>
	<false/>
	<key>last_crash_time</key>
	<integer>1596426602544</integer>
	<key>last_st_time</key>
	<string>2020-09-03</string>
	<key>user_info_uploaed_day</key>
	<string>2020-09-03</string>
</dict>
</plist>
